.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: bisque;
    padding: 1.5rem;
}

.button button {
    padding: 5px 20px;
    margin-left: 20px;
    cursor: pointer;
    background-color: rgb(51, 167, 216);
    border-radius: 0.25em;
    border: none;
}